@model Edukator.EntityLayer.Concrate.Message
@{
    ViewData["Title"] = "Edukator | Mesaj Detayları";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="container">
    <div class="card">
        <div class="card-header text-white bg-primary">Konu: @Model.Subject</div>
        <div class="card-body">
            <div class="row">
                <div class="d-flex justify-content-between ">
                    <b>Gönderenin Adı: @Model.Name</b> <i> <small class="opacity-75">Gönderenin Maili: @Model.Mail</small></i>
                </div>
                
                <p class="mt-2"> @Model.MessageContent </p>
            </div>
        </div>
    </div>
    <div class="mt-4">
    <button class="btn btn-primary"><i class="fa fa-reply" aria-hidden="true"></i>Yanıtla</button>
    <a href="/Messsage/Index/" class="btn btn-danger">Vazgeç</a>
    </div>
</div>

