
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">

@await Html.PartialAsync("~/Views/AdminLayout/PartialHead.cshtml")

<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <!-- Spinner Start -->
        @await Html.PartialAsync("~/Views/AdminLayout/PartialSpinner.cshtml")
        <!-- Spinner End -->
        <!-- Sidebar Start -->
        @await Html.PartialAsync("MemberSidebarPartial.cshtml")
        <!-- Sidebar End -->
        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            @await Html.PartialAsync("~/Views/AdminLayout/PartialNavbar.cshtml")
            <!-- Navbar End -->
            <!-- Blank Start -->
            <div class="container-fluid pt-4 px-4">
                @RenderBody()
            </div>
            <!-- Blank End -->
            <!-- Footer Start -->
            @await Html.PartialAsync("~/Views/AdminLayout/PartialFooter.cshtml")
            <!-- Footer End -->

        </div>
        <!-- Content End -->
        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    @await Html.PartialAsync("~/Views/AdminLayout/PartialScript.cshtml")
    <!-- JavaScript Libraries -->

</body>

</html>
