<footer class="w3l-footer-22 position-relative">
    <div class="footer-sub py-5">
        <div class="container py-md-5">
            <div class="row sub-columns">
                <div class="col-lg-3 col-md-6 sub-one-left ab-right-cont pr-lg-5 mb-md-0  mb-4">
                    <h6>Hakkımızda </h6>
                    <p>
                        Edukator Projesi Full Stack .Net Core Eğitimi Kapsamında Gerçekleştirilen, N Katmanlı Mimari prensibiyle hazırlanan bir projedir.
                    </p>
                    <div class="columns-2">
                        <ul class="social">
                            <li>
                                <a href="#facebook"><span class="fab fa-facebook-f" aria-hidden="true"></span></a>
                            </li>
                            <li>
                                <a href="#linkedin"><span class="fab fa-linkedin-in" aria-hidden="true"></span></a>
                            </li>
                            <li>
                                <a href="#twitter"><span class="fab fa-twitter" aria-hidden="true"></span></a>
                            </li>
                            <li>
                                <a href="#google"><span class="fab fa-google-plus-g" aria-hidden="true"></span></a>
                            </li>
                            <li>
                                <a href="#pinterest"><span class="fab fa-pinterest-p" aria-hidden="true"></span></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 sub-two-right pl-lg-5">
                    <h6>Yararlı Linkler</h6>
                    <ul>
                        <li>
                            <a href="/Default/Index/"><span class="fas fa-chevron-right mr-2"></span>Ana sayfa</a>
                        </li>
                        <li>
                            <a href="/AboutUs/Index/"><span class="fas fa-chevron-right mr-2"></span>Hakkımızda</a>
                        </li>
                        <li><a href="/DefaultCourses/Index/"><span class="fas fa-chevron-right mr-2"></span>Kurslar</a></li>
                        <li><a href="/DefaultContact/Index/"><span class="fas fa-chevron-right mr-2"></span>İletişim</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 sub-two-right pl-lg-5 mt-md-0 mt-4">
                    <h6>Popüler Kategoiler</h6>
                    <ul>
                        <li>
                            <a href="#live">
                                <span class="fas fa-chevron-right mr-2"></span>Yazılım
                            </a>
                        </li>
                        <li>
                            <a href="#faq"><span class="fas fa-chevron-right mr-2"></span>Spor</a>
                        </li>
                        <li>
                            <a href="#support"><span class="fas fa-chevron-right mr-2"></span>Dil</a>
                        </li>
                        <li>
                            <a href="#terms">
                                <span class="fas fa-chevron-right mr-2"></span>Teknoloji
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 sub-two-right mt-md-0 mt-4">
                    <h6>Popüler Kurslar</h6>
                    <ul>
                        <li>
                            <a href="#"><span class="fas fa-chevron-right mr-2"></span> Asp.Net</a>
                        </li>
                        <li>
                            <a href="#"><span class="fas fa-chevron-right mr-2"></span> Algoritma ve Programlama</a>
                        </li>
                        <li>
                            <a href="#"><span class="fas fa-chevron-right mr-2"></span> Beginner English</a>
                        </li>
                        <li><a href="#"><span class="fas fa-chevron-right mr-2"></span> Adobe Studio Eğitimi</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- copyright -->
    <div class="copyright-footer text-center">
        <div class="container">
            <div class="columns">
                <p>
                    © @DateTime.Now.Year Edukator. Tüm Hakları Saklıdır.
                </p>
            </div>
        </div>
    </div>
    <!-- //copyright -->
</footer>