@model List<Edukator.EntityLayer.Concrate.AppRole>
@{
    ViewData["Title"] = "Edukator | Roller";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="container">
    <div class="card">
        <div class="card-header text-white bg-primary">Roller</div>
        <div class="card-body">
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Rol Adı</th>
                        <th scope="col">Sil</th>
                        <th scope="col">Güncelle</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row">@item.Id</th>
                            <td>@item.Name</td>
                            <td><a href="#" id="deleteButton" onclick="deleteItem('/Role/DeleteRole/@item.Id')" class="btn btn-outline-danger">Sil</a></td>
                            <td><a href="/Role/UpdateRole/@item.Id" class="btn btn-outline-warning">Güncelle</a></td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
        
    </div>
    <a href="/Role/AddRole/" class="btn btn-outline-primary mt-2">Yeni Rol Girişi</a>
</div>
