@model LoginViewModel
@{
    Layout = null;
}

<!DOCTYPE HTML>
<html lang="tr">

<head>
	<title>Edukator | Giriş Yap</title>
	<!-- Meta-Tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="Clear login Form a Responsive Web Template, Bootstrap Web Templates, Flat Web Templates, Android Compatible Web Template, Smartphone Compatible Web Template, Free Webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design">
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //Meta-Tags -->
	<!-- Stylesheets -->
	<link href="~/web/css/font-awesome.css" rel="stylesheet">
	<link href="~/web/css/style.css" rel='stylesheet' type='text/css' />
	<!--// Stylesheets -->
	<!--fonts-->
	<!-- title -->
	<!-- body -->
	<link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=devanagari,latin-ext" rel="stylesheet">
	<!--//fonts-->
</head>

<body>
	<h1>Giriş Yap </h1>
	<div class="w3ls-login box box--big">
		<!-- form starts here -->
		<form method="post">
			<div class="agile-field-txt">
				<label>
					<i class="fa fa-user" aria-hidden="true"></i> Kullanıcı Adı
				</label>
				<input type="text" asp-for="Username" placeholder="Kullanıcı adınızı giriniz... " required="" />
			</div>
			<div class="agile-field-txt">
				<label>
					<i class="fa fa-envelope" aria-hidden="true"></i> Şifre
				</label>
				<input type="password" asp-for="Passowrd" placeholder="Şifrenizi giriniz... " required="" id="myInput" />
				<div class="agile_label">
					<input id="check3"   type="checkbox" value="show password" onclick="myFunction()">
					<label class="check" for="check3">Şifreyi Göster</label>
				</div>
			</div>
			<!-- script for show password -->
			<script>
				function myFunction() {
					var x = document.getElementById("myInput");
					if (x.type === "password") {
						x.type = "text";
					} else {
						x.type = "password";
					}
				}
			</script>
			<!-- //script ends here -->
			<div class="w3ls-bot">
				<div class="form-end">
					<input type="submit" value="Giriş Yap">
				</div>
				<div class="clearfix"></div>
			</div>
		</form>
	</div>
	<!-- //form ends here -->
	<!--copyright-->
	<div class="copy-wthree">
		<p>
			© @DateTime.Now.Year Edukator | Giriş Sayfası. Bütün Hakları Saklıdır. 
		</p>
	</div>
	<!--//copyright-->
</body>

</html>